div(layout="column" layout-align="center center" layout-fill
    ng-style="{'background': 'url(' + plaque.thumbnail_url +') center / cover', 'cursor' : 'pointer', 'width' : '100%', 'height': '100%' }")
    h4 {{ plaque.name }}
    //- div(ng-bind-html="plaque.FirstName + ' ' + plaque.LastName | highlight: vm.searchTerm")
    //- div(ng-bind-html="plaque.StreetAddress | highlight: vm.searchTerm")