<md-toolbar>
  <button md-button aria-label="Settings" class="md-icon-button">
    <i md-icon>menu</i>
  </button>
  <h2>Search for Plaques</h2><span flex="flex"></span>
  <button md-fab aria-label="Eat cake" class="md-mini">
    <md-tooltip md-direction="bottom">cake</md-tooltip>
    <i md-icon>cake</i>
  </button>
</md-toolbar>
<a md-list-item [routerLink]="['home']">home</a>
<a md-list-item [routerLink]="['tags']">tags</a>
<router-outlet></router-outlet>
     
<md-footer>Data provided by <a href="http://openplaques.org">OpenPlaques</a></md-footer>