<button md-fab [ngClass]="{ galleryOpen: galleryOpen }" class="map-button md-raised md-primary" (click)="showMap()">
    <icon class="md-icon">place</icon>
</button>
<button md-fab [ngClass]="{ galleryOpen: galleryOpen }" class="close-button md-raised md-primary" (click)="close()">
    <icon class="md-icon">done</icon>
</button>
<div class="gallery" [ngClass]="{ galleryOpen: galleryOpen }">
    <div class="gallery-cell" layout="column" layout-align="start center" *ngFor="let card of hand; #i = index">
        <div layout-align="center center" class="card-title">{{ card.title }}</div>
        <img class="gallery-image" [attr.data-flickity-lazyload]="card.url">
        <div class="image-inscription" [innerHtml]="card.inscription | sgHighlightPipe: [word]"></div>
        <!--<div *ngIf="tweet" #tweet [innerHtml]="tweet.html"></div>-->
        <div [attr.id]='"tweet" + i'></div>
    </div>
</div>