.card-title {
    text-align: center;
    font-size: larger;
    margin: 10px;
    height: 10%;
    max-height: 10%;
    overflow-y: hidden;
}

.close-button {
    position: absolute; 
    right: 50px; 
    top: -30px;
    opacity: 0;
}

/* fade in image when loaded */
.gallery-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.gallery-image.flickity-lazyloaded,
.gallery-image.flickity-lazyerror {
  opacity: 1;
}

.gallery {
    transition: opacity 0.4s;
    opacity: 0;
    height: 75vh;
    width: 100%;
    background: #eee;
}

.galleryOpen {
    opacity: 1;
}

.gallery-cell {
    text-align: center;
    height: 100%;
    width: 33%;
}

.gallery-image {
    height:50%;
    margin:10px;
    text-align: center;
}

.image-inscription {
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    overflow-y: auto;
    // display: flex 1 1 auto;
    height: 40%;
    max-height: 40%;
}

.highlighted {
    background: #ccc;
}