/* fade in image when loaded */
.gallery-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.gallery-image.flickity-lazyloaded,
.gallery-image.flickity-lazyerror {
  opacity: 1;
}

.gallery {
    height: 550px;
    width: 100%;
    background: #eee;
}

.gallery-cell {
    text-align: center;
    height: 100%;
    width: 33%;
}

.gallery-image {
    height:280px;
    margin:10px;
    text-align: center;
}

.image-inscription {
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    max-width: 100%;
    max-height: 200px; 
    overflow-y: auto
}

:host >>> .highlighted {
    background: #ccc;
}