<div layout="row" layout-align="center center">
    <md-card *ngIf="card" class="animated" [ngClass]="{'zoomIn': card.visible, 'zoomOutLeft': !card.visible}" *ngFor="let card of hand; trackBy:id; let i = index" [ngStyle]="cardStyle(i)">
        <div class="imgContainer">
            <img md-card-image src="{{ card.plaque.thumbnail_url }}">
        </div>
        <md-content layout="column" layout-fill layout-align="center center" style="overflow: hidden">
            <div>{{ card.plaque.title }}</div>
        </md-content>
    </md-card>
</div>
