<md-content layout="column" layout-fill layout-align="start center" style="overflow:hidden">
 
  <div layout="column" layout-fill layout-align="start start" onselectstart="return false">
    <div style="position:absolute; width:100%" [ngStyle]="{top: handTop}">
      <sg-plaque-card #plaquecard [hand]="hand" style="width:100%"></sg-plaque-card>
    </div>
    <div id="d3div" style="flex: 1 1 auto">
    </div>
    <div *ngIf="hand.length > 0" style="z-index: 2; width: 100%">
      <div layout="row" layout-align="center end">
        <button md-button class="md-raised-button" (click)="goBack()">Back</button>
        <button md-button class="md-raised-button" (click)="showMore()">More</button>
      </div>
    </div>
    <div layout="row" layout-align="center" style="width:100%">
      <div layout="row" *ngIf="years" style="overflow-x:auto; padding: 5px">
        <div *ngFor="let year of years">
          <button md-fab class="md-raised md-mini" style="margin:0 5px;" (click)="showYear(year)" [ngClass]="{'md-primary': year !== selectedYear}">
            <div class="fab-text">{{ year.key }}</div>
          </button>
        </div>
      </div>
    </div>
    <div layout="row" layout-align="center" style="margin-top:5px" *ngIf="selectedYear">
      {{ selectedYear.description }}
    </div>
  </div>
</md-content>
