.fab-text {
    position:relative;
    top:-7px;
    left: -1px;
    font-size: smaller;
}

sg-plaque-card {
    position: absolute;
}

.tagWord {
    cursor: pointer;
    transform-origin: 50% 87%;
    position: absolute;
    // transform: 'translate(-50%, -87%) rotate(0deg)';
    transition: transform 750ms ease-in-out;
    -webkit-transition: transform 750ms ease-in-out;
}
