.fab-text {
    position:relative;
    top:-7px;
    left: -1px;
    font-size: smaller;
}

.myFlex {
    flex: 1 1 auto !important;
}

canvas {
    display: block;
    width: 100%;
    visibility: hidden;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.plaqueThumb {
    width:120px;
    height:120px;
}

.myHighlight {
    color: rgba(200,200,200,1);
    background-color: rgba(0,0,255,0.5);
}
